@import url('https://fonts.googleapis.com/css?family=Open+Source+Sans|Arimo|Electrolize|Titillium+Web|Quantico|Roboto|Muli|Exo+2');

* {
	box-sizing: border-box;
}

#steps li {
	max-width: 80%;
}

ul li {
	list-style: none;
}

.filter_list_grouping li:hover {
	color: blue;
}

.filter_list_grouping {
	cursor: pointer;
}

.media-left ul {
}

#landing_buttons {
	margin: 1em;
	
}

#landing_text h2 {
	margin-left: 2em;
}

#landing1 section {
	grid-area: middle-right;
}

#landing_text {
	grid-area: middle-left;
	margin-top:8em;
	max-width: 90%;
}

#landing1 section img {
	margin-top: 8em;
}

@media screen and (min-width: 40em) {

	#landing1 {
		width: 100%;
		display: grid;
		grid-template-columns: 55% 45%;
		grid-template-rows: auto;
		grid-template-areas: "middle-left middle-right";
		height: 88vh;
		background-color: white;
	
	}

	#sidebar {
		overflow-y: scroll;
		max-height: 80vh;
		max-width: 10em;
	}
	#sidebar li {		
	}

	footer {
		width: 100%;
		display: grid;
		grid-template-columns: 75% 25%;
		grid-template-rows: auto;
		grid-template-areas: "fleft fright"
	}
	footer p {
		grid-area: fleft;
	}
	footer ul {
		grid-area: fright;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	footer ul a {
		margin: 0;
		padding: 0;
		padding-left: 1.1em;
		text-decoration: underline;
	}

	#canvas {
		margin-left: 0em;
	}

	#app_editing_area {
		width: 100%;
		display: grid;
		grid-template-columns: 14% 86%;
		grid-template-rows: auto;
		grid-template-areas: "midleft midright";
	}

	#sidebar {
		grid-area: "midleft";
	}

	#grid {
		grid-area: "midright";
	}


	
#live_area {
	width: 100%;
	display: grid;
	grid-template-columns: 45% 55%;
	grid-template-rows: auto;
	grid-template-areas: "canvas_area steps_area"
}

#live_area #canvas_area {
	grid-area: "canvas_area";
}

#live_area section {
	grid-area: "steps_area";
}
	
#grid {
	margin-left: 1em;
}

#live_area {
	margin-bottom: 3em;
}

}


.fas {
	margin-right: 1em;
}

#img_uploader {
	background-color: "black"
}

#dark_theme {
	margin-left: 1em;
	margin-bottom: 0.2em;
}

#app_editing_area {
	margin-left: 0.5em;
}

/* Scrollbars */

  /* width */
  ::-webkit-scrollbar {
    width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.content ul {
	margin-left: 0;
}

#pink_aura .icon, #aeon .icon {
	color: magenta;
}

.logo {
	font-family: "Exo 2", sans-serif;
	color: white;
	font-size: 1.5em;
}

#app_nav .logo {
	margin-left: 0.4em;
}